<div class = "banner">
  <h1>Best Cocktails</h1>
<!--   <h2>First you take a drink, then the drink takes you</h2>
  <h4>― F. Scott Fitzgerald</h4> -->
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <% @cocktails.each do |cocktail| %>
        <ul class='list-inline'>
          <li><h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2></li>

          <li><%= link_to edit_cocktail_path(cocktail) do %>
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          <% end %></li>

          <li><%= link_to cocktail_path(cocktail),method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          <% end %></li>
        </ul>
      <% end %>
      <%= link_to new_cocktail_path(@cocktail) do %>
        <button type="button" class="btn btn-primary">Create</button>
      <% end %>
    </div>
  </div>
</div>



